html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  color: #f38060;
  text-decoration: none;
}

.link-item {
  color: #fff;
  font-size: 0.875rem;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  gap: 0px 20px;
}

.grid-container-2, .grid-container-3, .grid-container-4, .grid-container-6 {
  grid-template-columns: 1fr;
}

p {
  font-family: "Lato", sans-serif;
  color: #000;
  line-height: 1.5;
}

h1, h2, h3, h4, h5 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

.panel {
  padding: 40px 0;
}

.panel-dark {
  background-color: #12314b;
  color: #fff;
  padding: 25px 35px 53px 25px;
  box-sizing: border-box;
}
.panel-dark p {
  color: #fff;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  line-height: 1.7;
}
.panel-dark .panel-subtitle {
  font-size: 1.5rem;
}

.panel-heading {
  font-size: 3.05rem;
  text-align: center;
  margin-bottom: 30px;
}

.higlight-text {
  color: #21639b;
}

#history h4 {
  font-size: 1.5rem;
}

/*button style*/
.btn {
  font-size: 1.8125rem;
  background-color: #53c295;
  color: #fff;
  border: none;
  padding: 9px 27px;
  border-radius: 0.5rem;
  border: 2px solid #3b9b74;
}
.btn:hover {
  cursor: pointer;
  background-color: #f38060;
  transition: linear 0.5s all;
  border: 2px solid #ba5b41;
}

/*header*/
#main-nav {
  text-align: right;
}

.nav-item {
  list-style-type: none;
  display: inline;
  margin-left: 60px;
}

header {
  padding: 30px 0;
  text-align: right;
  background-color: #12314b;
  position: fixed;
  top: 0;
  width: 100%;
}

.display-img {
  width: 100%;
}

/*sidebar nav*/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #53c295;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #e1f0ff;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #f38060;
  color: white;
  padding: 10px 15px;
  border: none;
  position: -webkit-sticky;
  position: sticky;
}

.openbtn:hover {
  background-color: #f5d45b;
  transition: 0.5s all linear;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

/*hero area*/
.hero-container {
  padding: 25px 0 80px 0;
  background-color: #21639b;
  margin-top: 50px;
}
.hero-container p {
  color: #fff;
  font-size: 1.25rem;
  margin-bottom: 40px;
}

.hero-container .display-img {
  max-width: 600px;
}

.hero-title {
  font-size: 4rem;
  color: #e1f0ff;
}
.hero-title span {
  font-size: 8.125rem;
  color: #f5d45b;
}

.subtitle {
  color: #888888;
  margin-bottom: 28px;
}

/**/
h2.panel-title {
  font-size: 3.5rem;
  color: #12314b;
}

.panel-box-light {
  background-color: #e1f0ff;
  padding: 25px 35px 53px 25px;
  box-sizing: border-box;
}
.panel-box-light .author {
  font-size: 1.25rem;
  color: #21639b;
}
.panel-box-light .panel-subtitle {
  font-size: 1.5rem;
  color: #12314b;
}
.panel-box-light p {
  color: #000;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  line-height: 1.7;
}

.img-container {
  padding: 0 20px;
}
.img-container img {
  border: 1px solid #12314b;
}

#definition {
  padding-top: 125px;
}

#types h2 {
  text-align: center;
}

#sync, #async {
  width: 100%;
  padding: 0 25px;
  margin: 1rem auto;
}

#sync {
  background-color: #f5d45b;
}

#async {
  background-color: #53c295;
}

#history ol {
  list-style: upper-roman;
}

#history ol li, #benefits ul li, #about ul li, #references ul li {
  font-size: 1.5rem;
  line-height: 1.75;
  margin: 1rem auto;
}

#benefits ul li, #references ul li, #about ul li {
  list-style-type: disc;
}

#about .panel-title {
  text-align: center;
  margin-bottom: 50px;
}
#about .grid-container-2 {
  align-items: unset;
}

#references {
  padding: 75px auto;
}
#references .panel-title {
  color: #fff;
  margin-bottom: 1rem;
  margin-top: 3rem;
}
#references .panel-subtitle {
  margin-top: 3rem;
}

footer {
  background-color: #000;
  padding: 40px 0;
}
footer p, footer li {
  color: #fff;
  font-size: 0.68rem;
}
footer ol {
  list-style-type: decimal;
}
footer ol li {
  line-height: 1.5;
}
footer h3 {
  color: #fff;
  font-size: 1.953125rem;
  padding-bottom: 13px;
  border-bottom: 1px solid #fff;
  margin-bottom: 13px;
}
footer #copyright {
  text-align: center;
  margin-top: 30px;
}

@media only screen and (min-width: 600px) {
  .grid-container-2 {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  #sync, #async {
    width: 50%;
  }
}/*# sourceMappingURL=style.css.map */